# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.eggs/
.venv/
venv/
env/

# Data & model output
data/
models/
*.png
*.csv
*.zip

# Streamlit
.streamlit/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
